# Firebase sensitive files (for both apps)
**/lib/firebase_options.dart
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/serviceAccountKey.json
# Allow snapshots folders
!resto_prof_customer/snapshots/
!resto_prof_restaurant/snapshots/
!resto_prof_customer/snapshots/**
!resto_prof_restaurant/snapshots/**
